.topbar {
    display: flex;
    align-items: center;
    gap: .7em;
    padding: .7em 2em;
    background-color: rgb(19, 17, 17);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

button, h1, h2, label, .menu, .search, .help, .settings {
    color: white;
}

.monthYear {
    flex-grow: 1;
}

mat-icon {
    padding: .5em;
}
mat-icon:hover {
    cursor: grab;
}
mat-icon.menu:hover {
    border-radius: 100px;
    background-color: rgb(18, 14, 14);
}

button {
    font-weight: 700;
    font-family: "Open Sans";
    border: none;
    color: white;
    background-color: grey;
    padding: 1em;
    border-radius: 10px;
}

button:hover {
    cursor: grab;
    background-color: rgb(84, 84, 84);
}

div.directional {
    display: flex;
    gap: .7em;
    margin-right: 1em;
}

div.directional > button {
    padding: .5em 1em;
}

.icon {
    width: auto;
    height: 2em;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-right: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
}

img {
    width: auto;
    height: 1.5em;
}

.button-with-label {
    position: relative;
}

.button-with-label label {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-weight: 100;
    font-size: .8em;
    visibility: hidden;
}
.search:hover + label {
    visibility: visible;
}
.help:hover + label {
    visibility: visible;
}
.settings:hover + label {
    visibility: visible;
}