<div class="topbar">
    <mat-icon fontIcon="menu" class="menu"></mat-icon>
    <img src="assets/icon.png" class="icon">
    <h1>Calendar</h1>
    <button class="today">Today</button>
    <div class="directional">
        <button><</button>
        <button>></button>
    </div>
    <h2 class="monthYear">{{this.month}} {{this.year > 0 ? this.year : ""}}</h2>
    <div class="button-with-label">
        <mat-icon fontIcon="search" class="search"></mat-icon>
        <label>Search</label>
    </div>
    <div class="button-with-label">
        <mat-icon fontIcon="help" class="help"></mat-icon>
        <label>Help</label>
    </div>
    <div class="button-with-label">
        <mat-icon fontIcon="settings" class="settings"></mat-icon>
        <label>Settings</label>
    </div>
    
    <div class="dropdown-outer">
        <h3>Hover</h3>
        <div class="dropdown">
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>
            <button>Year</button>
            <button>Schedule</button>
            <button>4 days</button>
        </div>
    </div>

</div>