.create {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 50%;
    padding: .5em;
    border-radius: 20px;
}
.add {
    height: auto;
    width: auto;
    font-size: 2.5em;
}

.dropdown h2, .dropdown h3 {
    color: white;
}