<button class="create">
    <mat-icon fontIcon="add" class="add"></mat-icon>
    <p>Create</p>
    <mat-icon fontIcon="arrow_drop_down"></mat-icon>
</button>
<app-minicalendar
    [month]="this.month"
    [year]="this.year"
/>
<input type="text" placeholder="Search for people">
<div class="myCalendars dropdown">
    <h2>My calendars</h2>
    <div class="dropdown-elem">
        <mat-icon fontIcon="check_box"></mat-icon>
        <h3>Birthdays</h3>
    </div>
    <div class="dropdown-elem">
        <mat-icon fontIcon="check_box"></mat-icon>
        <h3>Tasks</h3>
    </div>
    
    
</div>
<div class="otherCalendars dropdown">
    <h2>Other calendars</h2>
    <div class="dropdown-elem">
        <mat-icon fontIcon="check_box"></mat-icon>
        <h3>Holidays in United States</h3>
    </div>
</div>