.create {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    width: 50%;
    padding: .5em;
    border-radius: 20px;
}
.add {
    height: auto;
    width: auto;
    font-size: 2.5em;
}

.dropdown-elem {
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-elem mat-icon {
    color: white;
    font-size: 1.2em;
    width: auto;
    height: auto;
}
.dropdown h2, .dropdown h3 {
    color: white;
}
.dropdown h2 {
    font-size: 1em;
}
.dropdown h3 {
    font-size: .8em;
}