<div class="calendar">
    <app-day [number]="30" day="SUN"></app-day>
    <app-day [number]="1" day="MON"></app-day>
    <app-day [number]="2" day="TUE"></app-day>
    <app-day [number]="3" day="WED"></app-day>
    <app-day [number]="4" day="THU"></app-day>
    <app-day [number]="5" day="FRI"></app-day>
    <app-day [number]="6" day="SAT"></app-day>
    <app-day [number]="7"></app-day>
    <app-day [number]="8"></app-day>
    <app-day [number]="9"></app-day>
    <app-day [number]="10"></app-day>
    <app-day [number]="11"></app-day>
    <app-day [number]="12"></app-day>
    <app-day [number]="13"></app-day>
    <app-day [number]="14"></app-day>
    <app-day [number]="15"></app-day>
    <app-day [number]="16"></app-day>
    <app-day [number]="17"></app-day>
    <app-day [number]="18"></app-day>
    <app-day [number]="19"></app-day>
    <app-day [number]="20"></app-day>
    <app-day [number]="21"></app-day>
    <app-day [number]="22"></app-day>
    <app-day [number]="23"></app-day>
    <app-day [number]="24"></app-day>
    <app-day [number]="25"></app-day>
    <app-day [number]="26"></app-day>
    <app-day [number]="27"></app-day>
    <app-day [number]="28"></app-day>
    <app-day [number]="29"></app-day>
    <app-day [number]="30"></app-day>
    <app-day [number]="31"></app-day>
    <app-day [number]="1"></app-day>
    <app-day [number]="2"></app-day>
    <app-day [number]="3"></app-day>
</div>