<div class="calendar">
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
    <app-day></app-day>
</div>